.table {
  padding: 20px;
}

table {
  margin: auto;
  width: 600px;
}

.mat-header-cell {
  background-color: #EEE;
}

.left {
  text-align: left;
}

button {
  background-color: #78cad8;
  color: #FFF;
}
